* {
	font: 16px Helvetica, sans-serif;
	border: 1px solid red;
	
}

body {
	box-sizing: border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;

}

.container {
	margin-top: 50px;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;
	
}

.responsive-image {
	max-width: 100%;
	height: auto;
}

.cell img {
	display: block;
}
