* {
	font: 16px Helvetica, sans-serif;
	/*border: 1px solid red;*/
	
}

body {
	box-sizing: border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;

}

.container {
	margin-top: 50px;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;
	
}

.responsive-image {
	max-width: 100%;
	height: auto;
}

.cell img {
	display: block;
	margin: 1rem;
}

@media screen and (min-width: 600px) {
	.grid {
		display: flex;
		flex-wrap: wrap;
	}

	.cell {
		width: calc(50% - 2rem);
	}
}

@media screen and (min-width: 1000px) {
	

	.cell {
		width: calc(33.3333% - 2rem);
	}
}
